.splash-screen-container {
  background-color: #aceaff;
  position: relative;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100dvh;
  padding: 0;
}
.board-container-splash {
  width: var(--board-size-splash);
  height: var(--board-size-splash);
  z-index: 2;
}
.board-space-splash {
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: pop 0.6s forwards;
}

.splash-text {
  opacity: 0;
  animation: big-pop 0.8s forwards;
  display: inline-block;
  font-family: Reglisse-regular;
}

.button-container {
  position: absolute;
  bottom: 5%;
  z-index: 2;
  display: flex;
  right: 0;
  left: 0;
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

@keyframes pop {
  50% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes big-pop {
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 620px) {
  .board-container-splash {
    margin-bottom: 115px;
  }
  .game-mode-select-btn {
    width: 80%;
  }
}

@media screen and (min-height: 1000px) {
  .board-container-splash {
    width: 70%;
    height: 60%;
  }
  .board-space {
    font-size: 9rem;
  }
}
