:root {
  --board-size: 450px;
  --board-size-splash: 400px;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: bubbleBobbie;
  src: url(../src/assets/fonts/BubbleBobble-MVpLp.otf);
}

@font-face {
  font-family: Reglisse-regular;
  src: url(../src/assets/fonts/Reglisse-0WOD9.otf);
}
body {
  font-family: sans-serif;
  margin: 0;
}

button,
input {
  cursor: pointer;
}
button[disabled] {
  cursor: not-allowed;
}

.central-container {
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  border: 2px solid #d1d1d1;
  border-radius: 3px;
  height: 65px;
  width: 60px;
}
.color-picker:hover {
  border-color: #c5c4c4;
}
.color-picker::-webkit-color-swatch {
  border-radius: 3px;
  border: none;
}
.color-picker::-moz-color-swatch {
  border-radius: 5px;
  border: none;
}
.board-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  position: relative;
  width: var(--board-size);
  height: var(--board-size);
}

.winner-streak {
  content: "";
  position: absolute;
  width: 10px;
  background-color: red;
  height: 100%;
  top: 0;
  animation: winner-streak 2750ms forwards;
}

@keyframes winner-streak {
  0% {
    opacity: 100%;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 100%;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 100%;
  }
  100% {
    opacity: 50%;
  }
}

.board-space {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  background: transparent;
  border-radius: 0;
  width: calc(var(--board-size) / 3);
  height: calc(var(--board-size) / 3);
  font-size: 6rem;
  position: relative;
}
.board-space:nth-child(1),
.board-space:nth-child(2),
.board-space:nth-child(3) {
  border-top: 0;
}
.board-space:nth-child(1),
.board-space:nth-child(4),
.board-space:nth-child(7) {
  border-left: 0;
}
.board-space:nth-child(3),
.board-space:nth-child(6),
.board-space:nth-child(9) {
  border-right: 0;
}
.board-space:nth-child(7),
.board-space:nth-child(8),
.board-space:nth-child(9) {
  border-bottom: 0;
}

.board-space:after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
  border-radius: 30px;
}
.board-space:nth-child(1):after,
.board-space:nth-child(4):after {
  bottom: -10px;
  left: -5px;
}
.board-space:nth-child(5):after {
  display: none;
}
.board-space:nth-child(2):after,
.board-space:nth-child(3):after {
  top: -5px;
  left: -10px;
}
.board-space:nth-child(6):after,
.board-space:nth-child(9):after {
  top: -10px;
  right: -5px;
}

.board-space:nth-child(7):after,
.board-space:nth-child(8):after {
  bottom: -5px;
  right: -10px;
}

.cdb-btn-container {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.btn {
  align-items: center;
  background-color: hsl(240, 2%, 95%);
  border: 1px solid hsl(240, 50%, 94%);
  border-radius: 11px;
  color: hsl(240, 7%, 19%);
  display: flex;
  font-size: 1.75rem;
  font-weight: 700;
  height: 50px;
  padding: 2px 20px;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.btn:active,
.btn:hover,
.btn:focus {
  outline: 0;
}

.button-30:active,
.button-30.selected {
  background-color: hsl(240, 7%, 19%);
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #ffffff;
}

.btn:hover,
.btn:focus {
  background-color: hsl(0, 0%, 81%);
  border-color: hsl(240, 2%, 56%);
}

.btn:active:hover,
.btn.selected {
  background-color: hsl(240, 7%, 19%);
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #ffffff;
}

.reset-btn {
  background-color: #ffe7e7;
  height: 30px;
  padding: 2px 16px;
  font-size: 1.2rem;
  color: #d33a2c;
}

.reset-btn:active,
.reset-btn:active:hover {
  background-color: #d33a2c;
}

.reset-btn:hover,
.reset-btn:focus {
  background-color: #ffe3e3;
  border-color: #faa4a4;
}

.btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-legend {
  padding: 0;
  background: #fff;
}

/* .text-input-container {
  display: inline-block;
  width: 150px;
} */
/* .text-input-container label {
  padding-right: 5px;
} */
.text-input {
  height: 30px;
  padding: 6px;
  border-radius: 5px;
  border-width: 1px;
  font-size: 1rem;
  width: 45px;
}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background: rgba(252, 252, 253, 0.9);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  width: 300px;
}

.button-30.game-btn {
  width: 100px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
  background: rgb(252, 252, 253);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.button-30:active:hover,
.button-30.selected {
  background-color: hsl(240, 7%, 19%);
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #ffffff;
}

.game-container {
  padding: 78px 100px 30px;
  border: 1px solid black;
  position: relative;
  background-color: rgb(65, 186, 238);
}

.return-home-btn {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 50px;
  overflow: hidden;
  display: inline-block;
  transition: width 1s;
  padding: 0;
}
.return-home-btn > svg {
  width: 1.5em;
  height: 1.5em;
  margin: 0 11.5px;
}
.return-home-btn > span {
  vertical-align: super;
}
.return-home-btn:hover {
  width: 325px;
}

fieldset {
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  & legend {
    border-radius: 2px;
  }
}

/* create tool for copmaring shadings of colors */

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.reset-btn {
  background-color: #ffe7e7;
  height: 30px;
  padding: 2px 16px;
  font-size: 1.2rem;
  color: #d33a2c;
}

.reset-btn:active,
.reset-btn:active:hover {
  background-color: #d33a2c;
}

.reset-btn:hover,
.reset-btn:focus {
  background-color: #ffe3e3;
  border-color: #faa4a4;
}
@media screen and (max-width: 450px) {
  :root {
    --board-size: 400px;
    --board-size-splash: 350px;
  }
  .board-space {
    font-size: 5rem;
  }
}

@media screen and (max-width: 365px) {
  :root {
    --board-size: 400px;
    --board-size-splash: 300px;
  }
}